@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: 0;
    text-decoration: none;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    font-size: 14px;
    color: #1c1e21;
    font-weight: normal;
    background: #f8f8f8;
}


/* .container {
    max-width: 992px;
    margin: auto;
} */

.row {
    display: flex;
    flex-wrap: wrap;
}

.justify-content-between {
    justify-content: space-between;
}




@media only screen and (max-width: 600px) {

    .content-h1 h1 {
        text-align: center;
        padding: 5px;
        margin: auto;
    }

    h2 {
        padding: 10px !important;
        font-size: 20px !important;
        margin: 0px;
    }

    .bottom-text {
        text-align: center;
        margin-top: 6px;
        font-weight: small !important;

    }

    p {
        text-align: center;
        font-size: 14px;
    }

}

.content-h1 {
    padding: 0;
    margin: auto;
}

.content-h1 h1 {
    font-size: 55px;
    color: #1877f2;
    margin-bottom: 20px;
    font-weight: 600;
    text-shadow:
        -3px 3px 4px rgb(255, 255, 255),
        3px 3px 4px rgba(230, 230, 230, 0.96);
}

h2 {
    font-size: 28px;
    line-height: 32px;
    font-weight: 300;
    margin-bottom: 40px;
}

.content-right {
    max-width: 450px;
    margin: auto;
    text-align: center;
}

.content-right form {
    width: 396px;
    height: 360px;
    /* box-shadow:
        -5px -5px 10px rgb(255, 255, 255),
        5px 5px 10px rgba(230, 230, 230, 0.96);
    padding: 16px;
    margin-bottom: 30px;
    border-radius: 8px;
    background: #f8f8f8; */


    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 16px;
}

.gtu {
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px;
    width: 396px;
}

.content-right form input {
    width: 100%;
    height: 52px;
    background: #f8f8f8;
    padding: 0 15px;
    font-size: 17px;
    border-radius: 6px;
    border: 1px solid #dddfe2;
    margin-bottom: 15px;

}

::placeholder {
    color: #9094b6;
}

.content-right form input:focus {
    border: 1px solid #1877f2;
    box-shadow: 0 0px 2px #1877f2;
}

.input-button {
    background-color: #166FE5;
    color: #fff;
}

.btnb {
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    background-color: #166FE5;
    color: #fff;
    margin-bottom: 20px;
    text-transform: capitalize;
    box-shadow:
        -5px -5px 10px rgb(255, 255, 255),
        5px 5px 10px rgba(230, 230, 230, 0.96);
    font-weight: 500;
    text-decoration: none;



}


.login a {
    display: block;
}

.create-btn a {
    /* display: inline-block;
    padding: 10 17px;
    background: #36A420;
    color: #fff;
    transition: .3s; */
    display: inline-block;
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 10 17px;
    background: #36A420;
    color: #fff;
    transition: .3s;
}

.create-btn a:hover {
    background: #36A420;
    color: #fff;
}

.login .btnb:active {
    background-color: #f8f8f8;
    color: #fff;
}

.forget a {
    font-size: 14px;
    line-height: 19px;
    color: #1877f2;
    text-decoration: none;
}

.forget a:hover,
.content-right p a:hover {
    text-decoration: underline;
}

.content-right p a {
    color: #1c1e21;
    font-weight: 600;
}

.line {
    align-items: center;
    border-bottom: 1px solid #dadbe1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}

.bottom-text {
    text-align: center;
    margin-top: 16px;
    ;
}